body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    font-size: 4.5rem;
    margin-block-end: 0;
    margin-block-start: 0;
    font-family: 'Pacifico', cursive;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.sub-heading{
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}
a{
    color: #11999E;
    margin: 30px;
    text-decoration: none;
}
a:hover{
    color: #99b19c;
}
img{
    size: 100%;
}
.top-container{
    background-color: #eaeaea;
    position: relative;     /*  it is set to be relative to make clouds in reference of top container  */
    padding-top: 100px; 
   
}
.top-cloud{
    position: absolute;     /*  absolute in reference with top container because it is set to be relative. */
    right: 300px;
    top: 30px;
}
.bottom-cloud{
    position: absolute;     /*  absolute in reference with top container because it is set to be relative. */
    left: 200px;
    bottom: 300px;
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
    background-color: #eaeaea;
    padding: 50px 0 20px;
}
.images{
    border-radius: 100%;
    margin-top: 30px;
}
.skill-row{
    display: inline-block;
    width: 50%;
    margin: 50px 0;
    text-align: left;
}
.computer-img{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.android-img{
    width: 25%;
    float: right;
    margin-left: 20px;
}
.profile-img{
    width: 30%;
}
.profile{
    display: inline-block;
    width: 50%;
    text-align: center;
}
hr{
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.8rem;
    border-color: grey;
}
.intro{
    width: 75%;
    margin: auto;
}
p{
    line-height: 2;
}
.contact-message{
    width: 60%;
    margin: auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2cb4ad);
    text-decoration: none;
  }
  .copyright{
      color: #99b19c;
      font-size: 0.75rem;
      padding: 20px 0;
  }